@use "../abstracts";

/// Responsitive media tablet página home

@media (min-width: 768px) {
  .hero {
    display: flex;
    position: relative;
    &__img {
      display: none;
    }

    &__contenido {
      width: 768px;
      height: 700px;
      background-image: url("/img/retrato.jpg");
      background-repeat: no-repeat;
      background-size: 437px 700px;
      padding-left: 390px;
      margin: 0;
      flex-direction: column;
      justify-content: center;
      gap: 48px;
      .big {
        gap: 48px;
        &__title {
          width: 88%;
          margin: 0;
        }
        &__p {
          width: 91%;
        }
      }
    }
  }

  .day {
    gap: 0;
    margin: 120px 39px 11px;
    justify-content: stretch;
    gap: 68px;
    &__img {
      width: 398px;
      height: 400px;
      margin: 0;
      order: 2;
    }
    &__contenido {
      padding: 0;
      width: 223px;
      order: 1;
      gap: 24px;
      margin-top: auto;
      margin-bottom: auto;
      &__title {
        width: 223px;
      }
      &__p {
        width: 223px;
      }
    }
  }

  .inspired {
    margin: 0 39px 120px;
    padding: 0;
    display: grid;
    grid-template-columns: 720px / 398px 280px;
    gap: 11px;
    &__img1 {
      grid-area: 1/1 / span 2 / span 1;
      width: 398px;
      height: 720px;

      img {
        object-fit: cover;
      }
    }
    &__img2 {
      grid-area: 1 / 2 / span 1 / span 1;
      width: 280px;
      height: 313px;
      img {
        object-fit: cover;
      }
    }
    &__contenido {
      padding: 85px 22px;
      grid-area: 2 / 2 / span 1 / span 1;
      width: 280px;
      height: 396px;
      &__p {
        width: 90%;
      }
    }
  }
}
