@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.logo img, .footer__img img{
  width: 110.05px;
  @media (min-width : 1140px){
    width: 159.572px;
  }
}

body{
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  @media (min-width:768px){
    max-width: 768px;
  }
  @media (min-width: 1440px){
    max-width: 1440px;
  }
}